@import '../../styles/reset';
@import '../../styles//mixin.scss';

.tb-tag {
    padding: 4px 16px;
    border-radius: 48px;
    @include font-size-12;
}

.tb-tag-blue {
    background-color: $color-blue-0;
    color: $color-blue-3;
}

.tb-tag-green {
    background-color: $color-green-0;
    color: $color-green-3;
}

.tb-tag-orange {
    background-color: $color-orange-0;
    color: $color-orange-3;
}

.tb-tag-red {
    background-color: $color-red-0;
    color: $color-red-3;
}

.tb-tag-grey {
    background-color: $color-grey-1;
    color: $color-grey-3;
}

