@import '../../styles/reset';

.tb-input__error-text {
    color: $color-red-3;
    font-size: $font-size-4;
}

.tb-input__error-input .ant-input {
    border-color: $color-red-3;
    &:focus {
        box-shadow: none;
    }
    .ant-input-focused {
        box-shadow: none;
    }
}