// grey color
$color-grey-0: #ffffff;
$color-grey-1: #f6f7f9;
$color-grey-2: #cccccc;
$color-grey-3: #999999;
$color-grey-4: #666666;
$color-grey-5: #333333;

// blue color
$color-blue-0: #e8f4fd;
$color-blue-1: #ccecff;
$color-blue-2: #87d2ff;
$color-blue-3: #1b9aee;
$color-blue-4: #0171c2;
$color-blue-5: #004f8a;

// green color
$color-green-0: #edffed;
$color-green-1: #cafac8;
$color-green-2: #64d16d;
$color-green-3: #15ad31;

// red color
$color-red-0: #ffeded;
$color-red-1: #ffcccc;
$color-red-2: #f87872;
$color-red-3: #e62412;

// orange color
$color-orange-0: #fff7e6;
$color-orange-1: #ffd591;
$color-orange-2: #ffa941;
$color-orange-3: #fa8c15;

// purple color
$color-purple-0: #eeeefd;
$color-purple-1: #9c9df8;
$color-purple-2: #7373f5;
$color-purple-3: #5a5bf3;

$font-family-zh: 'PingFangSC';
$font-family-en: 'Montserrat';
$font-family-number: 'DINAlternate';

$font-size-0: 24px;
$font-size-1: 20px;
$font-size-2: 16px;
$font-size-3: 14px;
$font-size-4: 12px;
$font-size-5: 10px;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;